<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBowcPcLlb0FLuc3nS5lrl7NausF-XqMa8</string>
	<key>GCM_SENDER_ID</key>
	<string>425530453179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>at.teodorbrankovic.Note</string>
	<key>PROJECT_ID</key>
	<string>note-7126d</string>
	<key>STORAGE_BUCKET</key>
	<string>note-7126d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425530453179:ios:eb5a20624bd200d63dcd9e</string>
</dict>
</plist>